*{
    box-sizing: border-box;
}

*::before,
*::after,

:root{
    margin: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: gray;
}

img {
    max-width: 100%;
}

p {
    font-size: 10px;
    color: white;
    font-family: 'Fredericka the Great', cursive;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

.social-container {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    padding-left: 39%;
    padding-right: 43%;
    margin-left: 6%;
    display: flex;
    justify-content: space-between;
}

.social-container img {
    box-sizing: border-box;
    width: 70%;
    height: 70%;
}

.main-container {
    box-sizing: border-box;
    width: 1000px;
    height: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    border-width: 5px;
}

.pincheimage {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 15px 25px rgb(44, 41, 41));
}

.site-footer {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
}

.copyright-container {
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    text-align: center;
}

.copyright-container p {
    color: black;
    font-size: 15px;
}